<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<title>Blank Template</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section class="clearfix">
			<h1>Daily todo App</h1>
            <span><a href="/addtodo">Add todo</a></span>
            <span class="list">Todo List</span>
			<ul>
                <% for(let i = 0 ; i < result.length; i++){ %> 
                <li>
					<span><%= result[i].title%> </span>
					<span><%= result[i].description %></span>
					<span><%= result[i].currentTime%></span>
                    <i class="fa fa-trash"></i>
                </li>
                <% } %> 
            </ul>
		</section>
		<script type="module" src="/js/main.js"></script>
	</body>
</html>
